@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --reddish: #df1a34;
    /* #ff7800 */
    --blue: #00539cff;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--blue);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

section {
    padding: 2rem 9%;
}

/* 
.bullshit {
    display: none;
}

.active {
    display: block;
}
 */
.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--blue);
}

.heading span {
    background: var(--reddish);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--reddish);
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--blue);
}

.header .logo:hover {
    color: #df1a34;
}

.header .logo i {
    color: var(--reddish);
}

.header .navbar a {
    font-size: 1.6rem;
    margin: 0 1rem;
    color: var(--blue);
    font-weight: bold;
}

.header .navbar a:hover {
    color: var(--reddish);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--blue);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: var(--reddish);
    color: #fff;
}

#menu-btn {
    display: none;
}

.register .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .login-form {
    width: 50rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}




.register .login-form h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--blue);
}


.register .login-form .box {
    width: 100%;
    margin: 1rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--blue);
    text-transform: none;
}

.register .login-form p {
    font-size: 1.7rem;
    padding: .7rem 0;
    color: var(--light-color);
}


.register .login-form p a {
    color: var(--reddish);
    text-decoration: underline;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/image/banner-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: var(--blue);
    font-size: 3rem;
}

.home .content h3 span {
    color: var(--reddish);
}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.categories .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}


.categories .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--blue);
}

.categories .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer {
    background: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--blue);
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: var(--reddish);
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--reddish);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}


.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--blue);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--reddish);
    color: #fff;
}

.footer .box-container .box .email {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--blue);
    text-transform: none;
}

.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--blue);
    border-top: var(--border);
}

.footer .credit span {
    color: var(--reddish);
}












/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .header .navbar a {
        font-size: 1.4rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .footer {
        text-align: center;
    }

    .footer .box-container .box .payment-img {
        margin: 2rem auto;
    }

}