* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 227, 227);
}

.contact-form {
  width: 400px;
  min-height: 570px;
  margin: 20px 0;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
}

.contact-form h2 {
  text-align: center;
  color: rgb(62, 62, 62);
  margin-bottom: 20px;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: rgb(62, 62, 62);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  color: rgb(62, 62, 62);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: 2px solid rgb(62, 62, 62);
}

.contact-form textarea {
  height: 100px;
}

.contact-form input[type="submit"] {
  width: 50%;
  align-self: center;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: rgb(62, 62, 62);
  border: 2px solid rgb(62, 62, 62);
  border-radius: 5px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: rgb(62, 62, 62);
  color: #fff;
  transition: ease .3s;
}