@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  list-style: none;
  padding: 5px;
}

ul li:last-child {
  margin-right: 5rem;
}


.logo {
  margin-left: 3rem;
 
 width: 150px;
 height: 100%;
}



a {
  color: #333;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #333;
}

.hidden {
  display: none;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.sidebar{
 position: fixed;
 top: 0;
 right: 0;
 height: 80vh;
 width: 250px;
 z-index: 999;
 background-color: rgba(255, 255, 255, 0.038);
 backdrop-filter: blur(15px);
 box-shadow: -2px 0 2px rgba(0, 0, 0, 0.392);
 display: none;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 padding: 10px;

 }
 .sidebar li{
  width:100%;
  
}
.sidebar a{
  width:100% ;
}



