* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  
  background-color: #fff;
  padding: 1rem 5rem;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
#logo{
  width: 200px;
  height:65px ;
  
}
nav a {
  font-size: 1.8rem;
  text-decoration: none;
}
li{
  margin-inline: 30px;
}

nav a#logo {
  color: #0066ff;
  font-weight: 700;
}

nav ul a {
  color: #0066ff;
  font-weight: 600;
}

nav ul a:hover {
  border-bottom: 1px solid #0066ff;
}

section#home {
  height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 4rem;
}

#ham-menu {
  display: none;
}

nav ul.active {
  left: 0;
}

footer {
  background: #0066ff;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}
/*Laptop or Disktop*/
@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }

  header {
    padding: 2.2rem 5rem;
  }
}
/* For Big Screen Mobile Phones */
@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }

  #ham-menu {
    display: block;
    color: #0066ff;
  }

  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }

  nav ul {
    /* background: hsl(0, 0%, 100%, 0.1); */
    backdrop-filter: blur(5em);
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: 1s;
    gap: 0;
  }
  li{
    margin-block:  1.6rem;
  }
  a{
    text-decoration:underline;
  }
}

 /*  For Small Screen Mobile phones   */
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }

  header {
    padding: 2rem 3rem;
  }

  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
 
}
